#columns-width {
    -moz-columns: 20em;
    -webkit-columns: 20em;
    columns: 20em;
}

#columns-number {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
}

.CSS {
    border: 1px dashed #777;
    padding: 1em;
    font-size: 12pt;
    width: 30ch;
}
